<!DOCTYPE html>
<html>
	<head>
		<meta charset="uft-8">
		<title><%=blog.title %></title>
		<script type="text/javascript" src="search_children.js" charset="uft-8"></script>
	</head>
	<body>
	</body>
</html>