<div class="footer">
	<div class="ui divider"></div>
	<div class="ui two column centered grid">
		<div class="column">
			<a href="https://github.com/AliceYuling"><i class="huge github icon"></i></a>
			<i class="huge facebook icon"></i>
			<i class="huge twitter icon"></i>
			<i class="huge instagram icon"></i>
			<i class="huge weibo icon"></i>
		</div>
		<div class="eight column centered row">
			<div class="column">
				<div class="copyright">
				© 2017 Alice 
				</div>
			</div>
		</div>
	</div>
</div>